workflows/autodoc-OT-remove-loop.json
{
  "updatedAt": "2026-03-31T09:52:48.060Z",
  "createdAt": "2026-03-13T06:24:35.859Z",
  "id": "hj2Eq6rOJJBNOWLs",
  "name": "autodoc-OT-remove-loop",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        -32
      ],
      "id": "2e2e2c07-6d4a-4dd1-b9bd-d17ca1711d7b",
      "name": "InputData"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=ВЫПИСКА {{$json.data.group}} {{ $json.data.company.replace('\"','«').replace('\"','»')}} {{ $json.data.data.replaceAll(\".\",\"-\") }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.data.folder }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "fileTypes": [
            "application/vnd.google-apps.document"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        -32
      ],
      "id": "c7bd5f62-df35-447a-93eb-f930f88af030",
      "name": "SearchExistingVyp",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jzAxR4XiEVWwbE9z",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4ab7801-5bb7-442b-8b86-45df7443459d",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        -32
      ],
      "id": "f3c74f1b-f1a7-41b0-a464-5afd869dc92a",
      "name": "IfVypExist"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        704,
        -208
      ],
      "id": "281b2641-2c91-423b-b884-b6719586363f",
      "name": "GetExistingVyp1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "5aALK5qPqcCIdTaQ",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// function findRowInDoc(docContent, searchValue) {\n//   let tableIndex = 0;\n  \n//   for (const element of docContent) {\n//     if (!element.table) continue;\n    \n//     const table = element.table;\n//     const rows = table.tableRows || [];\n    \n//     for (let rowIndex = 0; rowIndex < rows.length; rowIndex++) {\n//       const cells = rows[rowIndex].tableCells || [];\n      \n//       if (cells.length < 2) continue;\n      \n//       const secondCell = cells[5];\n//       let cellText = \"\";\n      \n//       for (const contentItem of secondCell.content || []) {\n//         for (const el of contentItem.paragraph?.elements || []) {\n//           cellText += el.textRun?.content || \"\";\n//         }\n//       }\n      \n//       if (cellText.trim() === searchValue.trim()) {\n//         return {\n//           found: true,\n//           tableIndex,\n//           rowIndex,\n//           tableStartIndex: element.startIndex // startIndex таблицы в документе\n//         };\n//       }\n//     }\n    \n//     tableIndex++;\n//   }\n  \n//   return { found: false };\n// }\n\n// const docContent = $('GetExistingVyp1').first().json.body.content;\n// const searchValue = $('InputData').first().json.data.UdRegNum;\n\n// return [{ json: findRowInDoc(docContent, searchValue) }];\n\nfunction findRowInDoc(docContent, searchValue) {\n  let tableIndex = 0;\n  \n  // Чистим searchValue от любых невидимых символов\n  const cleanSearch = searchValue.replace(/\\s+/g, '').trim();\n  \n  for (const element of docContent) {\n    if (!element.table) continue;\n    \n    const table = element.table;\n    const rows = table.tableRows || [];\n    \n    for (let rowIndex = 0; rowIndex < rows.length; rowIndex++) {\n      const cells = rows[rowIndex].tableCells || [];\n      \n      if (!cells[5]) continue;\n      \n      let cellText = \"\";\n      for (const contentItem of cells[5].content || []) {\n        for (const el of contentItem.paragraph?.elements || []) {\n          cellText += el.textRun?.content || \"\";\n        }\n      }\n      \n      // Чистим текст ячейки от любых невидимых символов\n      const cleanCell = cellText.replace(/\\s+/g, '').trim();\n      \n      if (cleanCell === cleanSearch) {\n        return {\n          found: true,\n          tableIndex,\n          rowIndex,\n          tableStartIndex: element.startIndex\n        };\n      }\n    }\n    \n    tableIndex++;\n  }\n  \n  return { found: false, searchValue, cleanSearch };\n}\n\nconst docContent = $('GetExistingVyp1').first().json.body.content;\nconst searchValue = $('InputData').first().json.data.UdRegNum;\n\nreturn [{ json: findRowInDoc(docContent, searchValue) }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -336
      ],
      "id": "25f30e98-7583-4016-b282-48a7d8f260f1",
      "name": "GetStrokeToDelete"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $('IfVypExist').first().json.id }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"deleteTableRow\": {\n        \"tableCellLocation\": {\n          \"tableStartLocation\": {\n            \"index\": {{ $json.tableStartIndex}}\n          },\n          \"rowIndex\": {{ $json.rowIndex }}\n        }\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -336
      ],
      "id": "32b59eb2-a7bd-4bc6-be8c-1c2918379574",
      "name": "DeleteStrokeFromExistingVyp",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "5aALK5qPqcCIdTaQ",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем входящие данные\nconst doc = $input.first().json;\n\n// Функция для поиска таблицы с 9 столбцами\nfunction findNineColumnTable(doc) {\n  const content = doc[0]?.body?.content || doc?.body?.content || [];\n  \n  for (const element of content) {\n    if (element.table && element.table.columns === 9) {\n      return element.table;\n    }\n  }\n  return null;\n}\n\nconst table = findNineColumnTable(doc);\n\nif (!table) {\n  return [{ json: { error: 'Таблица с 9 столбцами не найдена' } }];\n}\n\nconst rowCount = table.rows;\n\nif (rowCount <= 2) {\n  // Две строки и меньше — удалить весь документ\n  return [{ json: { delete: 'doc' } }];\n} else {\n  // Больше двух строк — удалить строку\n  return [{ json: { delete: 'stroke' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -208
      ],
      "id": "8d245b91-837a-411e-86aa-8c544e350b50",
      "name": "CheckCountStrokes"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.delete }}",
                    "rightValue": "stroke",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "19ea03ef-a32e-4c9b-bf12-73e62adbedb3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "78d2449f-3005-4d43-9779-d90271ab5fed",
                    "leftValue": "={{ $json.delete }}",
                    "rightValue": "doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1120,
        -208
      ],
      "id": "642a39fd-ea21-4c25-87c2-45e92ffb12ab",
      "name": "DeleteStrokeOrFile"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('IfVypExist').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        -112
      ],
      "id": "cdef6913-d6c6-41b1-8e5b-78e929a3b28a",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jzAxR4XiEVWwbE9z",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const searchData = $('SearchExistingVyp').all();\nconst personData = $('InputData').first();\nconst searchKey = `ВЫПИСКА ${personData.json.data.group} ${personData.json.data.company.replace('\"','«').replace('\"','»')} ${personData.json.data.data.replaceAll(\".\",\"-\")}`;\n\nlet rs;\n\nfor (let searchResult of searchData) {\n  if (searchResult.json.name.includes(searchKey)) {\n    rs = [searchResult];\n  }\n};\n\nif (rs) {\n  return rs; \n} else {\n  return [{}]\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -32
      ],
      "id": "a640cb5d-d2da-4670-8089-d955e782efe6",
      "name": "FindDirectEntry"
    }
  ],
  "connections": {
    "InputData": {
      "main": [
        [
          {
            "node": "SearchExistingVyp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearchExistingVyp": {
      "main": [
        [
          {
            "node": "FindDirectEntry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetExistingVyp1": {
      "main": [
        [
          {
            "node": "CheckCountStrokes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetStrokeToDelete": {
      "main": [
        [
          {
            "node": "DeleteStrokeFromExistingVyp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IfVypExist": {
      "main": [
        [
          {
            "node": "GetExistingVyp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckCountStrokes": {
      "main": [
        [
          {
            "node": "DeleteStrokeOrFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeleteStrokeOrFile": {
      "main": [
        [
          {
            "node": "GetStrokeToDelete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FindDirectEntry": {
      "main": [
        [
          {
            "node": "IfVypExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "77183b64-10c4-4efe-8daa-101717ea1464",
  "activeVersionId": "77183b64-10c4-4efe-8daa-101717ea1464",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-13T06:24:35.859Z",
      "createdAt": "2026-03-13T06:24:35.859Z",
      "role": "workflow:owner",
      "workflowId": "hj2Eq6rOJJBNOWLs",
      "projectId": "OC8FWCQSkQb0Erkk"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-27T07:38:36.896Z",
    "createdAt": "2026-03-27T07:38:09.390Z",
    "versionId": "77183b64-10c4-4efe-8daa-101717ea1464",
    "workflowId": "hj2Eq6rOJJBNOWLs",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "data",
                "type": "object"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -128,
          -32
        ],
        "id": "2e2e2c07-6d4a-4dd1-b9bd-d17ca1711d7b",
        "name": "InputData"
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "queryString": "=ВЫПИСКА {{$json.data.group}} {{ $json.data.company.replace('\"','«').replace('\"','»')}} {{ $json.data.data.replaceAll(\".\",\"-\") }}",
          "returnAll": true,
          "filter": {
            "folderId": {
              "__rl": true,
              "value": "={{ $json.data.folder }}",
              "mode": "id"
            },
            "whatToSearch": "files",
            "fileTypes": [
              "application/vnd.google-apps.document"
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          64,
          -32
        ],
        "id": "c7bd5f62-df35-447a-93eb-f930f88af030",
        "name": "SearchExistingVyp",
        "alwaysOutputData": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jzAxR4XiEVWwbE9z",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f4ab7801-5bb7-442b-8b86-45df7443459d",
                "leftValue": "={{ $json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          400,
          -32
        ],
        "id": "f3c74f1b-f1a7-41b0-a464-5afd869dc92a",
        "name": "IfVypExist"
      },
      {
        "parameters": {
          "operation": "get",
          "documentURL": "={{ $json.id }}",
          "simple": false
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          704,
          -208
        ],
        "id": "281b2641-2c91-423b-b884-b6719586363f",
        "name": "GetExistingVyp1",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "5aALK5qPqcCIdTaQ",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// function findRowInDoc(docContent, searchValue) {\n//   let tableIndex = 0;\n  \n//   for (const element of docContent) {\n//     if (!element.table) continue;\n    \n//     const table = element.table;\n//     const rows = table.tableRows || [];\n    \n//     for (let rowIndex = 0; rowIndex < rows.length; rowIndex++) {\n//       const cells = rows[rowIndex].tableCells || [];\n      \n//       if (cells.length < 2) continue;\n      \n//       const secondCell = cells[5];\n//       let cellText = \"\";\n      \n//       for (const contentItem of secondCell.content || []) {\n//         for (const el of contentItem.paragraph?.elements || []) {\n//           cellText += el.textRun?.content || \"\";\n//         }\n//       }\n      \n//       if (cellText.trim() === searchValue.trim()) {\n//         return {\n//           found: true,\n//           tableIndex,\n//           rowIndex,\n//           tableStartIndex: element.startIndex // startIndex таблицы в документе\n//         };\n//       }\n//     }\n    \n//     tableIndex++;\n//   }\n  \n//   return { found: false };\n// }\n\n// const docContent = $('GetExistingVyp1').first().json.body.content;\n// const searchValue = $('InputData').first().json.data.UdRegNum;\n\n// return [{ json: findRowInDoc(docContent, searchValue) }];\n\nfunction findRowInDoc(docContent, searchValue) {\n  let tableIndex = 0;\n  \n  // Чистим searchValue от любых невидимых символов\n  const cleanSearch = searchValue.replace(/\\s+/g, '').trim();\n  \n  for (const element of docContent) {\n    if (!element.table) continue;\n    \n    const table = element.table;\n    const rows = table.tableRows || [];\n    \n    for (let rowIndex = 0; rowIndex < rows.length; rowIndex++) {\n      const cells = rows[rowIndex].tableCells || [];\n      \n      if (!cells[5]) continue;\n      \n      let cellText = \"\";\n      for (const contentItem of cells[5].content || []) {\n        for (const el of contentItem.paragraph?.elements || []) {\n          cellText += el.textRun?.content || \"\";\n        }\n      }\n      \n      // Чистим текст ячейки от любых невидимых символов\n      const cleanCell = cellText.replace(/\\s+/g, '').trim();\n      \n      if (cleanCell === cleanSearch) {\n        return {\n          found: true,\n          tableIndex,\n          rowIndex,\n          tableStartIndex: element.startIndex\n        };\n      }\n    }\n    \n    tableIndex++;\n  }\n  \n  return { found: false, searchValue, cleanSearch };\n}\n\nconst docContent = $('GetExistingVyp1').first().json.body.content;\nconst searchValue = $('InputData').first().json.data.UdRegNum;\n\nreturn [{ json: findRowInDoc(docContent, searchValue) }];\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1376,
          -336
        ],
        "id": "25f30e98-7583-4016-b282-48a7d8f260f1",
        "name": "GetStrokeToDelete"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $('IfVypExist').first().json.id }}:batchUpdate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDocsOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"requests\": [\n    {\n      \"deleteTableRow\": {\n        \"tableCellLocation\": {\n          \"tableStartLocation\": {\n            \"index\": {{ $json.tableStartIndex}}\n          },\n          \"rowIndex\": {{ $json.rowIndex }}\n        }\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1568,
          -336
        ],
        "id": "32b59eb2-a7bd-4bc6-be8c-1c2918379574",
        "name": "DeleteStrokeFromExistingVyp",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "5aALK5qPqcCIdTaQ",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Получаем входящие данные\nconst doc = $input.first().json;\n\n// Функция для поиска таблицы с 9 столбцами\nfunction findNineColumnTable(doc) {\n  const content = doc[0]?.body?.content || doc?.body?.content || [];\n  \n  for (const element of content) {\n    if (element.table && element.table.columns === 9) {\n      return element.table;\n    }\n  }\n  return null;\n}\n\nconst table = findNineColumnTable(doc);\n\nif (!table) {\n  return [{ json: { error: 'Таблица с 9 столбцами не найдена' } }];\n}\n\nconst rowCount = table.rows;\n\nif (rowCount <= 2) {\n  // Две строки и меньше — удалить весь документ\n  return [{ json: { delete: 'doc' } }];\n} else {\n  // Больше двух строк — удалить строку\n  return [{ json: { delete: 'stroke' } }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          -208
        ],
        "id": "8d245b91-837a-411e-86aa-8c544e350b50",
        "name": "CheckCountStrokes"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.delete }}",
                      "rightValue": "stroke",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "19ea03ef-a32e-4c9b-bf12-73e62adbedb3"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "78d2449f-3005-4d43-9779-d90271ab5fed",
                      "leftValue": "={{ $json.delete }}",
                      "rightValue": "doc",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1120,
          -208
        ],
        "id": "642a39fd-ea21-4c25-87c2-45e92ffb12ab",
        "name": "DeleteStrokeOrFile"
      },
      {
        "parameters": {
          "operation": "deleteFile",
          "fileId": {
            "__rl": true,
            "value": "={{ $('IfVypExist').first().json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1376,
          -112
        ],
        "id": "cdef6913-d6c6-41b1-8e5b-78e929a3b28a",
        "name": "Delete a file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jzAxR4XiEVWwbE9z",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const searchData = $('SearchExistingVyp').all();\nconst personData = $('InputData').first();\nconst searchKey = `ВЫПИСКА ${personData.json.data.group} ${personData.json.data.company.replace('\"','«').replace('\"','»')} ${personData.json.data.data.replaceAll(\".\",\"-\")}`;\n\nlet rs;\n\nfor (let searchResult of searchData) {\n  if (searchResult.json.name.includes(searchKey)) {\n    rs = [searchResult];\n  }\n};\n\nif (rs) {\n  return rs; \n} else {\n  return [{}]\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          -32
        ],
        "id": "a640cb5d-d2da-4670-8089-d955e782efe6",
        "name": "FindDirectEntry"
      }
    ],
    "connections": {
      "InputData": {
        "main": [
          [
            {
              "node": "SearchExistingVyp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SearchExistingVyp": {
        "main": [
          [
            {
              "node": "FindDirectEntry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetExistingVyp1": {
        "main": [
          [
            {
              "node": "CheckCountStrokes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetStrokeToDelete": {
        "main": [
          [
            {
              "node": "DeleteStrokeFromExistingVyp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IfVypExist": {
        "main": [
          [
            {
              "node": "GetExistingVyp1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CheckCountStrokes": {
        "main": [
          [
            {
              "node": "DeleteStrokeOrFile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeleteStrokeOrFile": {
        "main": [
          [
            {
              "node": "GetStrokeToDelete",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Delete a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FindDirectEntry": {
        "main": [
          [
            {
              "node": "IfVypExist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Active User",
    "name": "Version 77183b64",
    "description": "",
    "autosaved": true
  },
  "tags": []
}