workflows/autodoc-OT-MINTRUD-file-to-newReestr.json
{
  "updatedAt": "2026-07-23T07:07:40.716Z",
  "createdAt": "2026-07-16T06:45:29.635Z",
  "id": "QWI21fLoL57P1I0B",
  "name": "autodoc-OT-MINTRUD-file-to-newReestr",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Реестр ОТ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Статус заявки",
              "lookupValue": "➡️ в Минтруд"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        208
      ],
      "id": "cdc30727-cee4-4174-bde0-73a7c674beed",
      "name": "GetReestr",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xpp4ndWQ84MtD53m",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reestr_data = $(\"GetReestr\").all();\nconst result = new Map();\n\nfor (let item of reestr_data) {\n  let date_key =\n    item.json['Дата окончания (фикс)'] ||\n    item.json['Дата выдачи'] ||\n    item.json['Дата создания'];\n\n  if (!result.has(date_key)) {\n    result.set(date_key, {\n      date: date_key,      // 👈 явное поле вместо ключа\n      requests: []\n    });\n  }\n\n  result.get(date_key).requests.push(item.json);\n}\n\nreturn Array.from(result.values()).map(group => ({\n  json: group\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        80
      ],
      "id": "843a967c-c4a3-4109-bbf6-cc1aad8d4ded",
      "name": "MakeGroupsByDate"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1x9CuZbwogk7aq5Efzi2HjhHFmFt5gZycyoVy2c0ptk4",
          "mode": "id"
        },
        "name": "={{ $json.date }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zhEynhz0ASs8wWAbO47tg3-qDgzLmDi8",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        80
      ],
      "id": "18c0e212-0fe5-482d-bc72-bf89c97783da",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jzAxR4XiEVWwbE9z",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const folder_data = $(\"Copy file\").all();\nconst requests_data = $(\"MakeGroupsByDate\").all();\nconst grps = $('GroupDict').first().json.group_dict;\n\nconst results = [];\n\nfor (let i = 0; i < requests_data.length; i++) {\n  const file_id = folder_data[i].json.id;\n  const group = requests_data[i].json; // 👈 теперь просто объект\n  const requests = group.requests;\n\n  for (let request of requests) {\n    const regNumbers = request['Рег-номер (Выписка)'].split(',');\n\n    for (let rgnm of regNumbers) {\n      let [grp, rn] = rgnm.split(':');\n\n      results.push({\n        fio: request['Фамилия Имя Отчество'],\n        snils: request['СНИЛС'],\n        jobPost: request['Должность'],\n        INN: request['ИНН организации'],\n        company: request['Компания'],\n        progNum: grps[grp],\n        dt: request['Дата окончания (фикс)'] ||\n            request['Дата выдачи'] ||\n            request['Дата создания'],\n        protNum: rn,\n        file: file_id\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        80
      ],
      "id": "51cc8502-521d-42bc-babb-3d4d6570634c",
      "name": "PrepareRequestsToTable"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 434637116,
          "mode": "list",
          "cachedResultName": "Группы",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0/edit#gid=434637116"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        208
      ],
      "id": "c4fa98d4-bfba-4af9-b973-95eec9b7cdf0",
      "name": "GetGroups",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xpp4ndWQ84MtD53m",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const groups = $('GetGroups').all();\nconst dictionary = {};\n\nfor (let obj of groups){\n  dictionary[obj.json['Группа']] = obj.json['Нумерация для Минтруда'];\n}\n\nreturn {group_dict: dictionary}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        208
      ],
      "id": "1e24373b-d7f5-4ab1-ae34-851f110995c7",
      "name": "GroupDict"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.file }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kjmVE2BS0hMbgcrQUoARoNacaJyjS9W0my_u5aWGEHw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ФИО": "={{ $json.fio }}",
            "СНИЛС": "={{ $json.snils }}",
            "Должность": "={{ $json.jobPost }}",
            "ИНН Заказчика": "={{ $json.INN }}",
            "Наименование ЮЛ Заказчика": "={{ $json.company }}",
            "ИНН УЦ": "9709092086",
            "Наименование УЦ": "ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ \"НАУЧНЫЙ ЦЕНТР ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ\"",
            "Результат": "Удовлетворительно",
            "№программы": "={{ $json.progNum }}",
            "Дата и время": "={{ $json.dt }}",
            "Номер протокола": "={{ $json.protNum }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ФИО",
              "displayName": "ФИО",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "СНИЛС",
              "displayName": "СНИЛС",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Должность",
              "displayName": "Должность",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ИНН Заказчика",
              "displayName": "ИНН Заказчика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Наименование ЮЛ Заказчика",
              "displayName": "Наименование ЮЛ Заказчика",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ИНН УЦ",
              "displayName": "ИНН УЦ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Наименование УЦ",
              "displayName": "Наименование УЦ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Результат",
              "displayName": "Результат",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "№программы",
              "displayName": "№программы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата и время",
              "displayName": "Дата и время",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Номер протокола",
              "displayName": "Номер протокола",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        80
      ],
      "id": "4d8d547e-eeae-4e82-8748-61f2f8e63d3a",
      "name": "AppendRowsToMintrudTable",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xpp4ndWQ84MtD53m",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Реестр ОТ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Статус заявки": "✅ Реестр готов"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Макеты",
              "displayName": "Макеты",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Печать",
              "displayName": "Печать",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата создания",
              "displayName": "Дата создания",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ссылка на лид",
              "displayName": "Ссылка на лид",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Статус заявки",
              "displayName": "Статус заявки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Статус работы",
              "displayName": "Статус работы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Комментарии",
              "displayName": "Комментарии",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ПАПКА",
              "displayName": "ПАПКА",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Фамилия Имя Отчество",
              "displayName": "Фамилия Имя Отчество",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Фамилия Имя Отчество в склонении",
              "displayName": "Фамилия Имя Отчество в склонении",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Группа ОТ",
              "displayName": "Группа ОТ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Группа ОТВ",
              "displayName": "Группа ОТВ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Должность",
              "displayName": "Должность",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Компания",
              "displayName": "Компания",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ИНН организации",
              "displayName": "ИНН организации",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата выдачи",
              "displayName": "Дата выдачи",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата начала (фикс)",
              "displayName": "Дата начала (фикс)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата окончания (фикс)",
              "displayName": "Дата окончания (фикс)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Срок обучения (дн.)",
              "displayName": "Срок обучения (дн.)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Город не Москва",
              "displayName": "Город не Москва",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Сценарий",
              "displayName": "Сценарий",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Документ об образовании",
              "displayName": "Документ об образовании",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "СНИЛС",
              "displayName": "СНИЛС",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата рождения",
              "displayName": "Дата рождения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Адрес",
              "displayName": "Адрес",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Пол",
              "displayName": "Пол",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Гражданство",
              "displayName": "Гражданство",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Название Минтруд",
              "displayName": "Название Минтруд",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата Минтруд",
              "displayName": "Дата Минтруд",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата последнего изменения",
              "displayName": "Дата последнего изменения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Незаполненные поля",
              "displayName": "Незаполненные поля",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Рег-номер",
              "displayName": "Рег-номер",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Рег-номер (Выписка)",
              "displayName": "Рег-номер (Выписка)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        240
      ],
      "id": "8a677d71-82fa-479b-8dfb-33cf348289de",
      "name": "UpdateStatuses",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xpp4ndWQ84MtD53m",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c36d9dd8-e08a-4e4b-991d-ecaa1b17cc47",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 222657823,
          "mode": "list",
          "cachedResultName": "Статус минтруд",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0/edit#gid=222657823"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Операция",
              "lookupValue": "Создание файла для Минтруд"
            },
            {
              "lookupColumn": "Статус",
              "lookupValue": "В процессе"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        448
      ],
      "id": "8b50c0b4-4fde-42c0-8745-7bbd416f3996",
      "name": "GetQueue",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xpp4ndWQ84MtD53m",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 222657823,
          "mode": "list",
          "cachedResultName": "Статус минтруд",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0/edit#gid=222657823"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Статус": "Готово",
            "Дата": "={{ $now.format('yyyy-MM-dd hh:mm') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Операция",
              "displayName": "Операция",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Статус",
              "displayName": "Статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        448
      ],
      "id": "c7ef0ddd-9869-48c8-aafb-c8e1433b1019",
      "name": "UpdateStatusInQueue",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xpp4ndWQ84MtD53m",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Nrl31uqtCw4-93L0AorlQKD5JKOHYYRHTykHbztDAhY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лог",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nrl31uqtCw4-93L0AorlQKD5JKOHYYRHTykHbztDAhY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Проект": "ОТ",
            "ID": "={{ $json.ID }}",
            "Статус": "✅ Реестр готов",
            "Дата": "={{$now.format('dd.MM.yyyy')}}",
            "Время": "={{$now.format('HH:mm')}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Проект",
              "displayName": "Проект",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Статус",
              "displayName": "Статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Время",
              "displayName": "Время",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        416
      ],
      "id": "b19ede63-2980-4dcd-aa7d-ca0768678816",
      "name": "UpdateLog",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xpp4ndWQ84MtD53m",
          "name": "with.edtech@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9d867580-d6d3-4bda-b50f-c63904bd23a4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        208
      ],
      "id": "bbe3fb20-fb08-4fec-938e-25b706c8312b",
      "name": "Webhook",
      "webhookId": "9d867580-d6d3-4bda-b50f-c63904bd23a4"
    }
  ],
  "connections": {
    "GetReestr": {
      "main": [
        [
          {
            "node": "MakeGroupsByDate",
            "type": "main",
            "index": 0
          },
          {
            "node": "UpdateStatuses",
            "type": "main",
            "index": 0
          },
          {
            "node": "UpdateLog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakeGroupsByDate": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "PrepareRequestsToTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareRequestsToTable": {
      "main": [
        [
          {
            "node": "AppendRowsToMintrudTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetGroups": {
      "main": [
        [
          {
            "node": "GroupDict",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GroupDict": {
      "main": [
        [
          {
            "node": "GetReestr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetQueue": {
      "main": [
        [
          {
            "node": "UpdateStatusInQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "GetGroups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "versionId": "146a3daa-287e-482e-8ab5-3998eb94f29e",
  "activeVersionId": "146a3daa-287e-482e-8ab5-3998eb94f29e",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-07-16T06:45:29.635Z",
      "createdAt": "2026-07-16T06:45:29.635Z",
      "role": "workflow:owner",
      "workflowId": "QWI21fLoL57P1I0B",
      "projectId": "OC8FWCQSkQb0Erkk"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-23T07:07:42.012Z",
    "createdAt": "2026-07-23T07:07:40.719Z",
    "versionId": "146a3daa-287e-482e-8ab5-3998eb94f29e",
    "workflowId": "QWI21fLoL57P1I0B",
    "nodes": [
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Реестр ОТ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Статус заявки",
                "lookupValue": "➡️ в Минтруд"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          576,
          208
        ],
        "id": "cdc30727-cee4-4174-bde0-73a7c674beed",
        "name": "GetReestr",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "Xpp4ndWQ84MtD53m",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const reestr_data = $(\"GetReestr\").all();\nconst result = new Map();\n\nfor (let item of reestr_data) {\n  let date_key =\n    item.json['Дата окончания (фикс)'] ||\n    item.json['Дата выдачи'] ||\n    item.json['Дата создания'];\n\n  if (!result.has(date_key)) {\n    result.set(date_key, {\n      date: date_key,      // 👈 явное поле вместо ключа\n      requests: []\n    });\n  }\n\n  result.get(date_key).requests.push(item.json);\n}\n\nreturn Array.from(result.values()).map(group => ({\n  json: group\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          80
        ],
        "id": "843a967c-c4a3-4109-bbf6-cc1aad8d4ded",
        "name": "MakeGroupsByDate"
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1x9CuZbwogk7aq5Efzi2HjhHFmFt5gZycyoVy2c0ptk4",
            "mode": "id"
          },
          "name": "={{ $json.date }}",
          "sameFolder": false,
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1zhEynhz0ASs8wWAbO47tg3-qDgzLmDi8",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          992,
          80
        ],
        "id": "18c0e212-0fe5-482d-bc72-bf89c97783da",
        "name": "Copy file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jzAxR4XiEVWwbE9z",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const folder_data = $(\"Copy file\").all();\nconst requests_data = $(\"MakeGroupsByDate\").all();\nconst grps = $('GroupDict').first().json.group_dict;\n\nconst results = [];\n\nfor (let i = 0; i < requests_data.length; i++) {\n  const file_id = folder_data[i].json.id;\n  const group = requests_data[i].json; // 👈 теперь просто объект\n  const requests = group.requests;\n\n  for (let request of requests) {\n    const regNumbers = request['Рег-номер (Выписка)'].split(',');\n\n    for (let rgnm of regNumbers) {\n      let [grp, rn] = rgnm.split(':');\n\n      results.push({\n        fio: request['Фамилия Имя Отчество'],\n        snils: request['СНИЛС'],\n        jobPost: request['Должность'],\n        INN: request['ИНН организации'],\n        company: request['Компания'],\n        progNum: grps[grp],\n        dt: request['Дата окончания (фикс)'] ||\n            request['Дата выдачи'] ||\n            request['Дата создания'],\n        protNum: rn,\n        file: file_id\n      });\n    }\n  }\n}\n\nreturn results;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1184,
          80
        ],
        "id": "51cc8502-521d-42bc-babb-3d4d6570634c",
        "name": "PrepareRequestsToTable"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": 434637116,
            "mode": "list",
            "cachedResultName": "Группы",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0/edit#gid=434637116"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          176,
          208
        ],
        "id": "c4fa98d4-bfba-4af9-b973-95eec9b7cdf0",
        "name": "GetGroups",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "Xpp4ndWQ84MtD53m",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const groups = $('GetGroups').all();\nconst dictionary = {};\n\nfor (let obj of groups){\n  dictionary[obj.json['Группа']] = obj.json['Нумерация для Минтруда'];\n}\n\nreturn {group_dict: dictionary}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          384,
          208
        ],
        "id": "1e24373b-d7f5-4ab1-ae34-851f110995c7",
        "name": "GroupDict"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $json.file }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Лист1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kjmVE2BS0hMbgcrQUoARoNacaJyjS9W0my_u5aWGEHw/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ФИО": "={{ $json.fio }}",
              "СНИЛС": "={{ $json.snils }}",
              "Должность": "={{ $json.jobPost }}",
              "ИНН Заказчика": "={{ $json.INN }}",
              "Наименование ЮЛ Заказчика": "={{ $json.company }}",
              "ИНН УЦ": "9709092086",
              "Наименование УЦ": "ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ \"НАУЧНЫЙ ЦЕНТР ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ\"",
              "Результат": "Удовлетворительно",
              "№программы": "={{ $json.progNum }}",
              "Дата и время": "={{ $json.dt }}",
              "Номер протокола": "={{ $json.protNum }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "ФИО",
                "displayName": "ФИО",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "СНИЛС",
                "displayName": "СНИЛС",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Должность",
                "displayName": "Должность",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ИНН Заказчика",
                "displayName": "ИНН Заказчика",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Наименование ЮЛ Заказчика",
                "displayName": "Наименование ЮЛ Заказчика",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ИНН УЦ",
                "displayName": "ИНН УЦ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Наименование УЦ",
                "displayName": "Наименование УЦ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Результат",
                "displayName": "Результат",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "№программы",
                "displayName": "№программы",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Дата и время",
                "displayName": "Дата и время",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Номер протокола",
                "displayName": "Номер протокола",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1392,
          80
        ],
        "id": "4d8d547e-eeae-4e82-8748-61f2f8e63d3a",
        "name": "AppendRowsToMintrudTable",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "Xpp4ndWQ84MtD53m",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Реестр ОТ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.row_number }}",
              "Статус заявки": "✅ Реестр готов"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Макеты",
                "displayName": "Макеты",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Печать",
                "displayName": "Печать",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Дата создания",
                "displayName": "Дата создания",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Ссылка на лид",
                "displayName": "Ссылка на лид",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Статус заявки",
                "displayName": "Статус заявки",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Статус работы",
                "displayName": "Статус работы",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Комментарии",
                "displayName": "Комментарии",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "ПАПКА",
                "displayName": "ПАПКА",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Фамилия Имя Отчество",
                "displayName": "Фамилия Имя Отчество",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Фамилия Имя Отчество в склонении",
                "displayName": "Фамилия Имя Отчество в склонении",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Группа ОТ",
                "displayName": "Группа ОТ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Группа ОТВ",
                "displayName": "Группа ОТВ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Должность",
                "displayName": "Должность",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Компания",
                "displayName": "Компания",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "ИНН организации",
                "displayName": "ИНН организации",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Дата выдачи",
                "displayName": "Дата выдачи",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Дата начала (фикс)",
                "displayName": "Дата начала (фикс)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Дата окончания (фикс)",
                "displayName": "Дата окончания (фикс)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Срок обучения (дн.)",
                "displayName": "Срок обучения (дн.)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Город не Москва",
                "displayName": "Город не Москва",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Сценарий",
                "displayName": "Сценарий",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Документ об образовании",
                "displayName": "Документ об образовании",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "СНИЛС",
                "displayName": "СНИЛС",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Дата рождения",
                "displayName": "Дата рождения",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Адрес",
                "displayName": "Адрес",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Пол",
                "displayName": "Пол",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Гражданство",
                "displayName": "Гражданство",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Название Минтруд",
                "displayName": "Название Минтруд",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Дата Минтруд",
                "displayName": "Дата Минтруд",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Дата последнего изменения",
                "displayName": "Дата последнего изменения",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Незаполненные поля",
                "displayName": "Незаполненные поля",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Рег-номер",
                "displayName": "Рег-номер",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Рег-номер (Выписка)",
                "displayName": "Рег-номер (Выписка)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          800,
          240
        ],
        "id": "8a677d71-82fa-479b-8dfb-33cf348289de",
        "name": "UpdateStatuses",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "Xpp4ndWQ84MtD53m",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "c36d9dd8-e08a-4e4b-991d-ecaa1b17cc47",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": 222657823,
            "mode": "list",
            "cachedResultName": "Статус минтруд",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0/edit#gid=222657823"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Операция",
                "lookupValue": "Создание файла для Минтруд"
              },
              {
                "lookupColumn": "Статус",
                "lookupValue": "В процессе"
              }
            ]
          },
          "options": {
            "returnFirstMatch": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          352,
          448
        ],
        "id": "8b50c0b4-4fde-42c0-8745-7bbd416f3996",
        "name": "GetQueue",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "Xpp4ndWQ84MtD53m",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": 222657823,
            "mode": "list",
            "cachedResultName": "Статус минтруд",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ua-0QX5C0oY8VbBbeSrVzxyuYgjeDxvJgMiPQMg8mH0/edit#gid=222657823"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.row_number }}",
              "Статус": "Готово",
              "Дата": "={{ $now.format('yyyy-MM-dd hh:mm') }}"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "Операция",
                "displayName": "Операция",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Статус",
                "displayName": "Статус",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Дата",
                "displayName": "Дата",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          560,
          448
        ],
        "id": "c7ef0ddd-9869-48c8-aafb-c8e1433b1019",
        "name": "UpdateStatusInQueue",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "Xpp4ndWQ84MtD53m",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1Nrl31uqtCw4-93L0AorlQKD5JKOHYYRHTykHbztDAhY",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Лог",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nrl31uqtCw4-93L0AorlQKD5JKOHYYRHTykHbztDAhY/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Проект": "ОТ",
              "ID": "={{ $json.ID }}",
              "Статус": "✅ Реестр готов",
              "Дата": "={{$now.format('dd.MM.yyyy')}}",
              "Время": "={{$now.format('HH:mm')}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Проект",
                "displayName": "Проект",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Статус",
                "displayName": "Статус",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Дата",
                "displayName": "Дата",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Время",
                "displayName": "Время",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          800,
          416
        ],
        "id": "b19ede63-2980-4dcd-aa7d-ca0768678816",
        "name": "UpdateLog",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "Xpp4ndWQ84MtD53m",
            "name": "with.edtech@gmail.com"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "9d867580-d6d3-4bda-b50f-c63904bd23a4",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -16,
          208
        ],
        "id": "bbe3fb20-fb08-4fec-938e-25b706c8312b",
        "name": "Webhook",
        "webhookId": "9d867580-d6d3-4bda-b50f-c63904bd23a4"
      }
    ],
    "connections": {
      "GetReestr": {
        "main": [
          [
            {
              "node": "MakeGroupsByDate",
              "type": "main",
              "index": 0
            },
            {
              "node": "UpdateStatuses",
              "type": "main",
              "index": 0
            },
            {
              "node": "UpdateLog",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MakeGroupsByDate": {
        "main": [
          [
            {
              "node": "Copy file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Copy file": {
        "main": [
          [
            {
              "node": "PrepareRequestsToTable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PrepareRequestsToTable": {
        "main": [
          [
            {
              "node": "AppendRowsToMintrudTable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetGroups": {
        "main": [
          [
            {
              "node": "GroupDict",
              "type": "main",
              "index": 0
            },
            {
              "node": "GetQueue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GroupDict": {
        "main": [
          [
            {
              "node": "GetReestr",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetQueue": {
        "main": [
          [
            {
              "node": "UpdateStatusInQueue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "GetGroups",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Active User",
    "name": "Version 146a3daa",
    "description": "",
    "autosaved": true
  },
  "tags": []
}