workflows/github-backup.json
{
  "updatedAt": "2026-03-31T09:39:44.173Z",
  "createdAt": "2026-03-30T10:32:08.822Z",
  "id": "rQgz3YcOV3BEXoXW",
  "name": "github-backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "id": "886a63f6-cc61-4106-8cd9-94b5508f06da",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        896,
        1728
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').item.json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').item.json.repo_name }}"
        },
        "filePath": "=index.json",
        "fileContent": "{}",
        "commitMessage": "=Index (Created) {{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "c16c5ea9-0628-486c-85d2-c0f5c93826d8",
      "name": "Create Index File",
      "type": "n8n-nodes-base.github",
      "position": [
        1744,
        1888
      ],
      "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "gcjm9EIh8O6AjgCe",
          "name": "GitHub seo@active-users.ru"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo_name }}"
        },
        "filePath": "index.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "10ce047c-bffb-4d72-a120-dca2f84461f5",
      "name": "Get Download Url for Index File",
      "type": "n8n-nodes-base.github",
      "position": [
        1296,
        1728
      ],
      "webhookId": "6e7d3020-5558-4a80-9647-3c5a9de59a29",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "gcjm9EIh8O6AjgCe",
          "name": "GitHub seo@active-users.ru"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "7c07c2e2-f7fd-42b4-bfb7-484315a58d71",
      "name": "Get Index File Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1520,
        1712
      ],
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3e028766-cfb2-4464-9a97-b0845f082ed4",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": "=The resource you are requesting could not be found"
            }
          ]
        },
        "options": {}
      },
      "id": "c63eeaf3-5ff4-4f94-8d93-3170177e1d1d",
      "name": "Index File Not Found",
      "type": "n8n-nodes-base.if",
      "position": [
        1520,
        1904
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "452d7af0-1a81-4426-a171-0379eb83f575",
              "name": "repo_owner",
              "type": "string",
              "value": "edtech-active-user"
            },
            {
              "id": "eed5e0e0-4a5e-4df9-adec-a266d175e40d",
              "name": "repo_name",
              "type": "string",
              "value": "a-docs"
            }
          ]
        },
        "options": {}
      },
      "id": "c6a824bc-9db4-456a-a899-69ddc2ad8b45",
      "name": "Set Github Data",
      "type": "n8n-nodes-base.set",
      "position": [
        1104,
        1728
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "3dde699b-c091-483f-bd33-ae85c53de5e4",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        928,
        2816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "113b700e-037f-4e10-b12a-4a0b183badc1",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1952,
        1888
      ],
      "webhookId": "6d7f1445-a6c5-4ebb-bae3-a4ebbeed5f95",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "filters": {
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "id": "f39de9f2-d0ef-4e02-88d7-e3ec4402f6ee",
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1728,
        1712
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "n8nApi": {
          "id": "42mKhGIYZeBq28vh",
          "name": "n8n backups api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =======================\n// READ INPUTS\n// =======================\n\n// Current workflows from n8n\nconst workflows = $input.all()\n  .map(i => i.json)\n  .filter(w => w && typeof w.id === 'string' && typeof w.name === 'string');\n\nconst indexData = JSON.parse($('Get Index File Content').first()?.json?.data || '{}');\n\n// =======================\n// PREPARE STATE\n// =======================\n\nconst results = [];\nconst updatedIndex = { ...indexData };\n\n// Track only REAL workflow IDs from index\nconst existingIds = new Set(Object.keys(indexData));\n\n// =======================\n// STEP 1: CREATE / EDIT / RENAME\n// =======================\n\nfor (const workflow of workflows) {\n  const id = workflow.id;\n  const name = workflow.name || 'unnamed';\n  const path = `workflows/${name}.json`;\n\n  // -------- CREATE --------\n  if (!indexData[id]) {\n    updatedIndex[id] = { name, file_path: path };\n\n    results.push({\n      status: 'create',\n      workflowId: id,\n      name,\n      path,\n      data: workflow\n    });\n\n    continue;\n  }\n\n  // -------- RENAME --------\n  if (indexData[id].name !== name) {\n    // delete old file\n    results.push({\n      status: 'delete',\n      workflowId: id,\n      name: indexData[id].name,\n      path: indexData[id].file_path\n    });\n\n    // create new file\n    results.push({\n      status: 'create',\n      workflowId: id,\n      name,\n      path,\n      data: workflow\n    });\n\n    updatedIndex[id] = { name, file_path: path };\n    existingIds.delete(id);\n    continue;\n  }\n\n  // -------- EDIT --------\n  results.push({\n    status: 'edit',\n    workflowId: id,\n    name,\n    path: indexData[id].file_path,\n    data: workflow\n  });\n\n  existingIds.delete(id);\n}\n\n// =======================\n// STEP 2: DELETE REMOVED WORKFLOWS\n// =======================\n\nfor (const id of existingIds) {\n  results.push({\n    status: 'delete',\n    workflowId: id,\n    name: indexData[id].name,\n    path: indexData[id].file_path\n  });\n\n  delete updatedIndex[id];\n}\n\n// =======================\n// STEP 3: INDEX UPDATE (ONLY IF CHANGED)\n// =======================\n\nif (JSON.stringify(indexData) !== JSON.stringify(updatedIndex)) {\n  results.push({\n    status: 'index',\n    data: updatedIndex\n  });\n}\n\n// =======================\n// OUTPUT FOR N8N\n// =======================\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "c31fb044-39f5-46c0-b4af-624bfec84507",
      "name": "C,E,D Checker",
      "type": "n8n-nodes-base.code",
      "position": [
        1952,
        1712
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
        "commitMessage": "={{ $json.name }} (Created) {{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "f68e2c2f-e4ca-4824-a426-b251fd5f83fd",
      "name": "Create New Files",
      "type": "n8n-nodes-base.github",
      "position": [
        2480,
        1440
      ],
      "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "gcjm9EIh8O6AjgCe",
          "name": "GitHub seo@active-users.ru"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_name }}"
        },
        "filePath": "index.json",
        "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
        "commitMessage": "=Index (Edited) {{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "3b660bfd-ffe4-4b0d-92a6-454b6b99b834",
      "name": "Update Index File",
      "type": "n8n-nodes-base.github",
      "position": [
        2480,
        2000
      ],
      "webhookId": "0cfd3844-d625-413e-9760-c352d50d4c79",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "gcjm9EIh8O6AjgCe",
          "name": "GitHub seo@active-users.ru"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "7c8457c1-d2fa-460c-8a14-a013c2a88290",
      "name": "Get Download Url for Github File",
      "type": "n8n-nodes-base.github",
      "position": [
        2480,
        1600
      ],
      "webhookId": "6e7d3020-5558-4a80-9647-3c5a9de59a29",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "gcjm9EIh8O6AjgCe",
          "name": "GitHub seo@active-users.ru"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "97023852-faa0-4c13-91fc-7d080beae826",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "create"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Create"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ae9ec2ae-f5d7-47be-85a5-7c13cf4b6688",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "edit"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Edit"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8f1e5618-6223-4ad3-afc8-b8e8d74b8f05",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "delete"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Delete"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b548ed0b-878d-45da-80c7-28347fa3d555",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "index"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Update Index"
            }
          ]
        },
        "options": {}
      },
      "id": "104ff728-1f78-4ac3-99c1-b7e60fb795e9",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        2160,
        1680
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "={{ $json.name }} (Deleted) {{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "e667c9ec-ae18-436a-8f39-fbc0fd3c3f6f",
      "name": "Delete Files",
      "type": "n8n-nodes-base.github",
      "position": [
        2480,
        1824
      ],
      "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "gcjm9EIh8O6AjgCe",
          "name": "GitHub seo@active-users.ru"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "a32d5dbc-ff50-48b9-ba00-0395dc3adf2a",
      "name": "Get Github File Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2736,
        1600
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(i => ({\n  json: {\n    githubData: JSON.parse(i.json.data || '{}')\n  }\n}));"
      },
      "id": "6e484921-5f3f-4818-8fd5-1bad1f81553f",
      "name": "Parse Github File Content",
      "type": "n8n-nodes-base.code",
      "position": [
        2960,
        1600
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const normalize = (obj) =>\n  JSON.stringify(obj, (_, value) =>\n    value && typeof value === 'object' && !Array.isArray(value)\n      ? Object.keys(value)\n          .sort()\n          .reduce((o, k) => {\n            o[k] = value[k];\n            return o;\n          }, {})\n      : value\n  );\n\nreturn $input.all()\n  .filter(item =>\n    normalize(item.json.githubData) !== normalize(item.json.data)\n  )\n  .map(item => {\n    const { githubData, ...rest } = item.json;\n    return { json: rest };\n  });"
      },
      "id": "a5e229b4-0497-4108-9c98-6de17666843a",
      "name": "File Edit Checker",
      "type": "n8n-nodes-base.code",
      "position": [
        3408,
        1616
      ],
      "executeOnce": false,
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "8efe6162-de23-4e4b-8a85-f02a3aa566ca",
      "name": "Merge Github & n8n File",
      "type": "n8n-nodes-base.merge",
      "position": [
        3184,
        1616
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "7f597ed3-ce0c-4830-97b8-3a07e9dda11f",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.status !== null && $json.status !== undefined }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "6dec192f-6fa2-4a16-86d0-42042e275b29",
      "name": "If File Edited",
      "type": "n8n-nodes-base.if",
      "position": [
        3632,
        1616
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Set Github Data').first().json.repo_name }}"
        },
        "filePath": "={{ $json.path }}",
        "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
        "commitMessage": "={{ $json.name }} (Edited) {{ new Date().toISOString().split('T')[0] }}"
      },
      "id": "6507563f-95cc-4dd0-9263-c62336a8a54b",
      "name": "Edit Files",
      "type": "n8n-nodes-base.github",
      "position": [
        3856,
        1600
      ],
      "webhookId": "0cfd3844-d625-413e-9760-c352d50d4c79",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "gcjm9EIh8O6AjgCe",
          "name": "GitHub seo@active-users.ru"
        }
      }
    },
    {
      "parameters": {
        "content": "# n8n-Workflow-Github-Backup",
        "height": 1443,
        "width": 3270,
        "color": 7
      },
      "id": "2c3e78f8-84e3-45ae-a43b-6954f01c7185",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        1312
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📋 WORKFLOW SUMMARY\n\n**Purpose:** Automatically backup n8n workflows to GitHub\n\n**Flow:**\n1. Trigger (Schedule/Manual)\n2. Get/Create index.json in GitHub\n3. Fetch all n8n workflows\n4. Compare with GitHub index\n5. Create/Edit/Delete files as needed\n6. Update index.json\n\n\n**Features:**\n- Daily automatic backups (7 PM)\n- Detects new, edited, renamed, and deleted workflows\n- Maintains an index for tracking\n- Smart comparison to avoid unnecessary commits",
        "height": 416,
        "width": 512,
        "color": 2
      },
      "id": "a7141763-94b5-4a30-85cb-8e71d50218d2",
      "name": "Workflow Summary",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        2016
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ⚙️ SETUP REQUIREMENTS\n\n**1️⃣ GitHub OAuth Credentials**\n- Go to *Credentials → New → GitHub OAuth2*\n- Create GitHub OAuth App:\n  - Settings → Developer settings → OAuth Apps\n  - Authorization callback URL: your n8n instance\n  - Enter Client ID & Secret in n8n\n\n\n**2️⃣ GitHub Repository**\n- Create a new repository (public/private)\n- Copy repository owner and name\n\n\n**3️⃣ Configure Workflow**\n- Edit \"Set Github Data\" node:\n  - `repo_owner`: your GitHub username\n  - `repo_name`: your repository name\n- Connect GitHub OAuth credentials to all GitHub nodes\n\n\n**4️⃣ n8n API Credentials**\n- Go to *Settings → API*\n- Create new API key\n- Add as n8n credential in workflow\n\n✅ Test manually before enabling schedule",
        "height": 608,
        "width": 500,
        "color": 4
      },
      "id": "0a614c56-480e-47aa-91ef-205886bd28c6",
      "name": "Setup Requirements",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📂 INDEX SYSTEM\n\n**index.json structure:**\n```json\n{\n  \"workflow_id_1\": {\n    \"name\": \"Workflow Name\",\n    \"file_path\": \"workflows/Workflow Name.json\"\n  },\n  \"workflow_id_2\": { ... }\n}\n```\n\n**Purpose:**\n- Tracks which workflows exist in GitHub\n- Maps workflow IDs to file paths\n- Enables detection of renames and deletes\n\n**First Run:**\n- If index.json doesn't exist, it's created automatically\n- 3-second wait allows file creation to complete",
        "height": 472,
        "width": 420,
        "color": 5
      },
      "id": "52b9a3f0-e577-4f61-857f-d2225c2089e8",
      "name": "Index System",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        2096
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔍 C,E,D CHECKER\n\n**Compare & Decision Logic:**\n\nFor each n8n workflow:\n- **CREATE:** New workflow not in index\n- **RENAME:** Workflow name changed\n  - Deletes old file\n  - Creates new file with new name\n- **EDIT:** Existing workflow (checked later for actual changes)\n\n\nFor workflows in index but not in n8n:\n- **DELETE:** Workflow removed from n8n\n\n\nFor index itself:\n- **UPDATE INDEX:** If any changes detected\n\n**Output:** Array of actions to take",
        "height": 456,
        "width": 400,
        "color": 6
      },
      "id": "24716896-4f03-4c41-af7a-2edd37f1a7ad",
      "name": "C,E,D Checker Logic",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 🔀 SWITCH ROUTING\n\nRoutes items based on status:\n\n**Create Branch:**\n- New workflows → Create New Files\n\n\n**Edit Branch:**\n- Existing workflows → Smart edit check\n- Fetches GitHub version\n- Compares with n8n version\n- Only commits if actually different\n\n\n**Delete Branch:**\n- Removed workflows → Delete Files\n\n\n**Update Index Branch:**\n- Index changed → Update Index File\n\n\nEach branch processes independently.",
        "height": 496,
        "width": 360,
        "color": 7
      },
      "id": "936c84df-ecd5-4f9c-ab40-d8a15da913d1",
      "name": "Switch Routing",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        2080
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ✏️ SMART EDIT DETECTION\n\n**Why needed:**\n- n8n changes timestamps/metadata on save\n- Prevents unnecessary commits\n\n\n**Process:**\n1. Fetch current file from GitHub\n2. Parse both GitHub & n8n versions\n3. Normalize JSON (sort keys)\n4. Compare stringified versions\n5. Only commit if truly different\n\n\n**Benefits:**\n- Cleaner commit history\n- No spam commits\n- Saves GitHub API calls",
        "height": 428,
        "width": 380,
        "color": 6
      },
      "id": "d8d3d6c4-5c7c-46db-b767-ea719b0a18b3",
      "name": "Smart Edit Detection",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3392,
        1776
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📝 COMMIT MESSAGES\n\nAuto-generated commit messages:\n\n**Format:** `[Workflow Name] ([Action]) YYYY-MM-DD`\n\n**Examples:**\n- `My Workflow (Created) 2026-01-15`\n- `My Workflow (Edited) 2026-01-15`\n- `My Workflow (Deleted) 2026-01-15`\n- `Index (Edited) 2026-01-15`\n\n\n**Benefits:**\n- Clear action history\n- Easy to track changes\n- Searchable by date",
        "height": 404,
        "width": 360,
        "color": 3
      },
      "id": "311d3045-03ca-4b1c-865c-5cef8598c149",
      "name": "Commit Messages",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2768,
        1824
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3e028766-cfb2-4464-9a97-b0845f082ed4",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": "=The resource you are requesting could not be found"
            }
          ]
        },
        "options": {}
      },
      "id": "cab0e4fe-42b5-47af-8443-36e582315c99",
      "name": "Workflows Folder Not Found",
      "type": "n8n-nodes-base.if",
      "position": [
        1568,
        3040
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e423797-c7d5-4d18-a9b0-835bb747b18e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1568,
        2800
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "c6459498-29a0-48f7-b97d-30060726bd22",
      "name": "Get File Content",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1808,
        2816
      ],
      "retryOnFail": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo_name }}"
        },
        "filePath": "workflows/"
      },
      "id": "957a2d25-9801-4b7f-83ad-08fdac5aa3e5",
      "name": "List Workflow Files",
      "type": "n8n-nodes-base.github",
      "position": [
        1344,
        2816
      ],
      "webhookId": "b4034155-275a-407e-8168-e9e9c7b1babe",
      "retryOnFail": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "gcjm9EIh8O6AjgCe",
          "name": "GitHub seo@active-users.ru"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.data }}",
        "requestOptions": {}
      },
      "id": "bce135aa-bc51-469b-9e3d-04932ea4e91f",
      "name": "Create Workflow",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2032,
        2816
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": false,
      "credentials": {
        "n8nApi": {
          "id": "42mKhGIYZeBq28vh",
          "name": "n8n backups api"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔄 HOW IT WORKS\n\n**Sequential Processing:**\n- Loops through files one at a time\n- Downloads JSON from GitHub\n- Creates workflow in n8n\n- Prevents conflicts and rate limits\n\n**Error Handling:**\n- If `workflows/` folder not found → stops gracefully\n- Ensure backup workflow ran at least once first",
        "height": 284,
        "width": 400,
        "color": 6
      },
      "id": "e6675352-81ae-4c18-84e1-70c301b87d6f",
      "name": "How It Works",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        3008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "452d7af0-1a81-4426-a171-0379eb83f575",
              "name": "repo_owner",
              "type": "string",
              "value": "your-github-username"
            },
            {
              "id": "eed5e0e0-4a5e-4df9-adec-a266d175e40d",
              "name": "repo_name",
              "type": "string",
              "value": "your-github-repository-name"
            }
          ]
        },
        "options": {}
      },
      "id": "ecf3dc56-4948-46ba-a544-74078dff81f7",
      "name": "Set Github Data1",
      "type": "n8n-nodes-base.set",
      "position": [
        1136,
        2816
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "# n8n-Workflow-Github-Restore",
        "height": 675,
        "width": 1494,
        "color": 7
      },
      "id": "9123fc84-1eb9-490d-bfcc-11a53465c10e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        2656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 📋 WORKFLOW SUMMARY\n\n**Purpose:** Restore n8n workflows from GitHub backup\n\n**Flow:**\n1. Manual trigger\n2. Set GitHub repo details\n3. List workflow files from GitHub\n4. Loop through each file\n5. Download & create workflow in n8n\n\n\n**Use Cases:**\n- New n8n instance setup\n- Disaster recovery\n- Cloning workflows to another environment",
        "height": 372,
        "width": 416,
        "color": 2
      },
      "id": "57276be7-6393-484b-bfa9-8c2272fcb3c2",
      "name": "Workflow Summary1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        2656
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Set Github Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create New Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Download Url for Github File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Github & n8n File",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Delete Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Index File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C,E,D Checker": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Edited": {
      "main": [
        [
          {
            "node": "Edit Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Github Data": {
      "main": [
        [
          {
            "node": "Get Download Url for Index File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Content": {
      "main": [
        [
          {
            "node": "Create Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Github Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Github Data1": {
      "main": [
        [
          {
            "node": "List Workflow Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Index File": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Edit Checker": {
      "main": [
        [
          {
            "node": "If File Edited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "C,E,D Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflow Files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflows Folder Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Index File Not Found": {
      "main": [
        [
          {
            "node": "Create Index File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Index File Content": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Github File Content": {
      "main": [
        [
          {
            "node": "Parse Github File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Github & n8n File": {
      "main": [
        [
          {
            "node": "File Edit Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Github File Content": {
      "main": [
        [
          {
            "node": "Merge Github & n8n File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Download Url for Index File": {
      "main": [
        [
          {
            "node": "Get Index File Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Index File Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Download Url for Github File": {
      "main": [
        [
          {
            "node": "Get Github File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Github Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "fdd89ed3-26ae-4841-8489-e8a6bc174db3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-30T10:32:08.822Z",
      "createdAt": "2026-03-30T10:32:08.822Z",
      "role": "workflow:owner",
      "workflowId": "rQgz3YcOV3BEXoXW",
      "projectId": "OC8FWCQSkQb0Erkk"
    }
  ],
  "activeVersion": null,
  "tags": []
}